<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
</head>
<body>
    {% if movies %}
        <h2>Recommended Movies:</h2>
        <ul>
            {% for movie in movies %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}
    </ul>
</body>
<head2>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Recommendations</title>
</head2>
<body2>
    {% if songs %}
        <h2>Recommended Songs:</h2>
        <ul>
            {% for song in songs %}
                <li>{{ song }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}
    </ul>
</body2>
</html>
